.footerContainer {
    position: relative;
    width: 100%;
    height:  950px;
    background: #F9F9FA;
}

.image_gemo {
    width: 263.06px;
    height: 350.84px;
}

.image_gemo2 {
    position: absolute;
    width: 300px;
    height: 300px; 
    left: 980px;
    top: 68.5%;
}

.image_gemo3 {
    display: none;
}

.footer-form {
    width: 548px;
    height: 100vh;
    margin: -10% auto;
    display: flex;
    flex-direction: column;
}

.form-header {
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 110px;
    line-height: 100%;
    color: #1A2236;
    text-align: center;
}

.form {
    margin-top: 40px;
}

.form-info {
    display: flex;
    flex-direction: column;
}

.form2 {
    margin-top: 20px;
}

.form-info2 {
    display: flex;
    flex-direction: column;
}

label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #7D7C84;
}

.form-info  input {
    width: 254px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
} 
.form-info  input[type="text"] {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #1A2236;
    padding: 1px 7px;

} 
.form-input input[type="text"]:focus {
  border: 2px solid  #1A2236;
}

.form-info2  textarea {
    width: 520px;
    height: 140px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    padding: 12px;
} 


.form1 {
    display: flex;
    gap: 23px;
}

.form-description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #1A2236;
    text-align: center;
    width: 548px;
}

.footer-bottom {
    width: 100%;
    height: 123px;
    background: #1A2236;
    border: 1px solid;    
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}

button {
    width: 254px;
    height: 70px;
    background: #1A2236;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin: 30px 150px;
    cursor: pointer;
}

.download {
    color: #92DCDC;
    /* margin-left: 160px; */
    width: 150px;
    height: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.download span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #92DCDC;
}

.Icons {
    color: #FFFFFF;
    /* margin-right: 160px; */
    width: 296px;
    height: 26.93px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media {
    width: 24px;
    height: 24px;
    color: #FFFFFF;
}
.media1 {
    width: 24px;
    height: 24px;
    color: #92DCDC;
}




@media (max-width: 768px) { 

.footerContainer {
    height:  813px;
    margin-top: 80px;
}

  
.image_gemo {
    display: none;
}

.image_gemo2 {
  display: none;
}  

.image_gemo3 {
    display: block;
    width: 111px;
    height: 74.02px;
}

.footer-form {
    margin-top: 30px;
    width: 100%;
}

.form-header {
font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 100%;
color: #1A2236;
text-align: left;
}

.form-description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #1A2236;
    width: 327px;
    text-align: left;
}

.form {
    margin-top: 10px;
}

.form1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 16px;
}
.form2 {
    margin-left: 16px;
}

.form-info  input {
  width: 327px;
  height: 52px;
} 

.form-info2  textarea {
   width: 320px;
   height: 112px;
} 

button {
  width: 327px;
  height: 44px;
  margin: 40px 25px;
}

.footer-bottom {
    height: 150px;
}

.footer-container {
    flex-direction: column;
    margin: 40px;
    gap: 20px;
}

.download {
    width: 180px;
    height: 27px;
    display: flex;
    justify-content: space-between;
    align-items: left;
}


.Icons {
    width: 296px;
    height: 26.93px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


}